
.title{
   margin-top: 20px;
   color:green;
}
.banner{
    width: 90%;
    margin-top: 20px;
    margin:15px 0px 0px 5px;
}
.banner img{
    width :100%;
    height: 100%;
    margin-left: 80px;
}
.some-info{
    width: 80%;
    display: grid;
    grid-gap: 70px;
    padding:10px 5px 10px 100px;
    grid-template-columns: repeat(2,1fr);
    text-align: justify;
}