.contact{
    width: 100%;
    display: flex;
}
.form{
    width: 50%;
}
.info{
    margin-top: 40px;
    width: 90%;
    text-align: justify;
    margin-left: 70px;
    color:black;
    font-weight: 600;
    
}
.title-contact{
    color:green;
}
.input{
  width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.message{
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit{
    background-color: honeydew;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  cursor:pointer;
}